QMainWindow {
    background-color: #05090e;
    color: #dfe7f3;
}

QFrame,
QTextEdit,
QListWidget {
    background-color: #0F1418;
    border: 1px solid #1f3b4a;
    border-radius: 14px;
}

QTextEdit,
QListWidget {
    padding: 12px;
    margin: 0;
    color: #dfe8f2;
    font-size: 14px;
}

QLabel#sectionHeader,
QLabel#HistoryTitle {
    color: #8acaff;
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 4px;
    margin-bottom: 2px;
}

QLabel#styleLabel {
    color: #c8d7e5;
    font-size: 13px;
}

QTextEdit:focus,
QListWidget:focus {
    border: 1px solid #3684ff;
}

QPushButton {
    background-color: #171f27;
    border: 1px solid #1f3b4a;
    border-radius: 8px;
    padding: 6px 12px;
}

QPushButton:hover {
    background-color: #1f2832;
}

QPushButton:pressed {
    background-color: #283138;
}

QMenuBar,
QMenu,
QStatusBar {
    background-color: #0f1418;
    color: #dfe8f2;
    border: none;
}

#styleLabel {
    padding: 4px 0;
}

#PreviewFrame {
    background-color: #0F1418;
    border: 1px solid #1f3b4a;
    border-radius: 14px;
}

QTabWidget::pane {
    border: 1px solid #1f3b4a;
    border-radius: 14px;
    background-color: #101820;
    margin-top: 0px;
}

QTabBar::tab {
    background-color: transparent;
    padding: 8px 16px;
    color: #c8d7e5;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    min-height: 32px;
}

QTabBar::tab:selected {
    background-color: #1b2430;
    color: #ffffff;
}

QTabBar::tab:hover {
    background-color: rgba(255, 255, 255, 0.05);
}
